pipeline/pl_determinar_par_impar.json
{
	"name": "pl_determinar_par_impar",
	"properties": {
		"activities": [
			{
				"name": "Set_es_Par",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "esPar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.numeroAnalizar,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mensaje_validacion",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_es_Par",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('esPar')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set mensaje es impar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "El número @{pipeline().parameters.numeroAnalizar} es impar",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set_mensaje_par",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "El número @{pipeline().parameters.numeroAnalizar} es Par",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"numeroAnalizar": {
				"type": "int"
			}
		},
		"variables": {
			"esPar": {
				"type": "Boolean"
			},
			"mensaje": {
				"type": "String"
			}
		},
		"annotations": []
	}
}