pipeline/pl_factorial.json
{
	"name": "pl_factorial",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rangeList",
					"value": {
						"value": "@range(1,pipeline().parameters.numeroAnalizar)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('rangeList')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set multiplicar",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "auxiliar",
								"value": {
									"value": "@string(mul(int(variables('factorial')),item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fatorial",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set multiplicar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "factorial",
								"value": {
									"value": "@variables('auxiliar')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"numeroAnalizar": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"factorial": {
				"type": "String",
				"defaultValue": "1"
			},
			"auxiliar": {
				"type": "String"
			},
			"rangeList": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}